<a href="https://colab.research.google.com/github/VijayTaori/Python_BitcoinEthereum_webScrapping_analysis_visualization/blob/master/crypto_open_close_etoro_usd.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import datetime as dt

In [2]:
df_new = pd.read_excel('/content/etoro-account-statement-1-1-2021-12-31-2021.xlsx',sheet_name=2)

In [4]:
df = pd.read_excel('Assesment of taxes 2020_etoro.xlsx', sheet_name=0)

In [3]:
df_new_2022 = pd.read_excel('/content/etoro-account-statement-1-1-2022-12-31-2022_Pandas.xlsx',sheet_name=2)

In [ ]:
print

In [5]:
df.columns

Index(['Position ID', 'Action', 'Amount', 'Units', 'Open Date', 'Close Date',
       'Leverage', 'Spread', 'Profit', 'Profit (cal.)', 'profit - spread',
       'Open Rate', 'Close Rate', 'Close Amount', 'Take profit rate',
       'Stop lose rate', 'Rollover Fees and Dividends', 'Copied From', 'Type'],
      dtype='object')

In [6]:
df1 = df.drop(['Leverage',
               'Stop lose rate',
               'Take profit rate',
               'Stop lose rate',
               'Rollover Fees and Dividends',
               'Copied From',
               'Type'
               ], axis=1)

In [7]:
df_new.columns

Index(['Position ID', 'Action', 'Amount', 'Units', 'Open Date', 'Close Date',
       'Leverage', 'Spread', 'Profit', 'Open Rate', 'Close Rate',
       'Take profit rate', 'Stop lose rate', 'Rollover Fees and Dividends',
       'Copied From', 'Type', 'ISIN', 'Notes'],
      dtype='object')

In [9]:
df_new_1 = df_new.drop(['Leverage',
               'Stop lose rate',
               'Take profit rate',
               'Stop lose rate',
               'Rollover Fees and Dividends',
               'Copied From',
               'Type', 'Notes', 'ISIN'
               ], axis=1)

In [ ]:
df_new_2022.columns

Index(['Position ID', 'Action', 'Amount', 'Units', 'Open Date', 'Close Date',
       'Leverage', 'Spread', 'Profit', 'Open Rate', 'Close Rate',
       'Take profit rate', 'Stop lose rate', 'Rollover Fees and Dividends',
       'Copied From', 'Type', 'ISIN', 'Notes'],
      dtype='object')

In [10]:
df_new_2022_1 = df_new_2022.drop(['Leverage',
               'Stop lose rate',
               'Take profit rate',
               'Stop lose rate',
               'Rollover Fees and Dividends',
               'Copied From',
               'Type', 'Notes', 'ISIN'
               ], axis=1)

In [ ]:
df1

,Position ID,Action,Amount,Units,Open Date,Close Date,Spread,Profit,Profit (cal.),profit - spread,Open Rate,Close Rate,Close Amount
0,846176513.0,Buy Tezos,412.0,205.804486,23/12/2020 12:03:34,31/12/2020 15:18:32,4.13,-1.07,0.000000,-4.130000,2.00,2.00,411.608972
1,846157005.0,Buy Tezos,500.0,251.521706,23/12/2020 11:26:54,31/12/2020 15:18:24,5.05,2.24,2.515217,-2.534783,1.99,2.00,503.043412
2,847982369.0,Buy Tezos,200.0,107.747010,24/12/2020 03:54:22,31/12/2020 15:18:19,2.16,15.13,15.084581,12.924581,1.86,2.00,215.494020
3,840577036.0,Buy Cardano,500.0,2870.264064,19/12/2020 17:12:02,29/12/2020 05:32:19,17.72,-5.74,0.000000,-17.720000,0.17,0.17,487.944891
4,814175274.0,Buy Cardano,70.0,405.327157,30/11/2020 16:51:37,29/12/2020 05:32:10,2.50,-0.20,0.000000,-2.500000,0.17,0.17,68.905617
...,...,...,...,...,...,...,...,...,...,...,...,...,...
340,609940706.0,Buy Bitcoin,1060.0,0.118959,29/04/2020 17:44:04,01/05/2020 20:57:04,7.79,-25.13,-25.128899,-32.918899,8910.67,8699.43,1034.875493
341,610190271.0,Buy Bitcoin,540.0,0.058881,30/04/2020 04:14:49,01/05/2020 20:56:05,3.85,-28.20,-28.199289,-32.049289,9171.11,8692.19,511.804839
342,610187469.0,Buy Bitcoin,540.0,0.058647,30/04/2020 04:00:56,01/05/2020 20:55:45,3.83,-30.73,-30.726923,-34.556923,9209.41,8685.48,509.377346
343,599996081.0,Buy Bitcoin,100.0,0.014149,17/04/2020 18:42:42,01/05/2020 11:44:24,0.96,27.72,27.724117,26.764117,7067.56,9027.00,127.723023
344,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-73.10,-131.990591,-855.840591,NaN,NaN,NaN

In [ ]:
df1.columns

Index(['Position ID', 'Action', 'Amount', 'Units', 'Open Date', 'Close Date',
       'Spread', 'Profit', 'Profit (cal.)', 'profit - spread', 'Open Rate',
       'Close Rate', 'Close Amount'],
      dtype='object')

In [17]:
df_20_open = df1[['Position ID', 
                'Action', 'Amount', 'Units', 'Open Date', 'Open Rate']]

In [18]:
df_21_open = df_new_1[['Position ID', 
                'Action', 'Amount', 'Units', 'Open Date', 'Open Rate']]

In [19]:
df_22_open = df_new_2022_1[['Position ID', 
                'Action', 'Amount', 'Units', 'Open Date', 'Open Rate']]

In [20]:
df_20_close = df1[['Position ID', 'Action', 'Units', 'Close Date',
                  'Spread', 'Profit', 'Close Rate']]
df_21_close = df_new_1[['Position ID', 'Action', 'Units', 'Close Date',
                  'Spread', 'Profit', 'Close Rate']]
df_22_close = df_new_2022_1[['Position ID', 'Action', 'Units', 'Close Date',
                  'Spread', 'Profit', 'Close Rate']]

In [22]:
df_eur_20 = pd.read_csv('EURUSD_2020.csv')
df_eur_21 = pd.read_csv('EURUSD_2021.csv')
df_eur_22 = pd.read_csv('EURUSD_2022.csv')

In [23]:
#df_eur_20.drop(['Adj Close','Volume'], axis=1, inplace=True)
#df_eur_21.drop(['Adj Close','Volume'], axis=1, inplace=True)
#df_eur_22.drop(['Adj Close','Volume'], axis=1, inplace=True)

In [24]:
df_eur_20['Date'] = pd.to_datetime(df_eur_20['Date'],dayfirst=True)
df_eur_21['Date'] = pd.to_datetime(df_eur_21['Date'],dayfirst=True)
df_eur_22['Date'] = pd.to_datetime(df_eur_22['Date'],dayfirst=True)

In [113]:
df_eur_all = pd.concat([df_eur_20,df_eur_21,df_eur_22])

In [133]:
df_eur_all.to_csv('USD2EUR_all.csv',index=False)

In [115]:
#df_eur_all.reset_index(inplace=True)
#df_eur_all.drop('index',axis=1,inplace=True)

In [ ]:
df_20_open['Open Date'] = pd.to_datetime(df_20_open['Open Date'],dayfirst=True)
df_21_open['Open Date'] = pd.to_datetime(df_21_open['Open Date'],dayfirst=True)
df_22_open['Open Date'] = pd.to_datetime(df_22_open['Open Date'],dayfirst=True)

In [ ]:
df_20_close['Close Date'] = pd.to_datetime(df_20_close['Close Date'],dayfirst=True)
df_21_close['Close Date'] = pd.to_datetime(df_21_close['Close Date'],dayfirst=True)
df_22_close['Close Date'] = pd.to_datetime(df_22_close['Close Date'],dayfirst=True)

In [27]:
def datetime2date(date_time):
  date = date_time.date()
  return date

In [ ]:
df_20_open['Date'] = df_20_open['Open Date']
df_20_open['Date'] = pd.to_datetime(df_20_open['Date'],dayfirst=True)
df_20_open['Date'] = df_20_open['Date'].map(datetime2date)

In [ ]:
df_21_open['Date'] = df_21_open['Open Date']
df_21_open['Date'] = pd.to_datetime(df_21_open['Date'],dayfirst=True)
df_21_open['Date'] = df_21_open['Date'].map(datetime2date)

In [ ]:
df_22_open['Date'] = df_22_open['Open Date']
df_22_open['Date'] = pd.to_datetime(df_22_open['Date'],dayfirst=True)
df_22_open['Date'] = df_22_open['Date'].map(datetime2date)

In [ ]:
df_20_close['Date'] = df_20_close['Close Date']
df_20_close['Date'] = pd.to_datetime(df_20_close['Date'],dayfirst=True)
df_20_close['Date'] = df_20_close['Date'].map(datetime2date)

In [ ]:
df_21_close['Date'] = df_21_close['Close Date']
df_21_close['Date'] = pd.to_datetime(df_21_close['Date'],dayfirst=True)
df_21_close['Date'] = df_21_close['Date'].map(datetime2date)

In [ ]:
df_22_close['Date'] = df_22_close['Close Date']
df_22_close['Date'] = pd.to_datetime(df_22_close['Date'],dayfirst=True)
df_22_close['Date'] = df_22_close['Date'].map(datetime2date)

In [ ]:
df_20_open['Date'] = pd.to_datetime(df_20_open['Date'],dayfirst=True)
df_20_close['Date'] = pd.to_datetime(df_20_close['Date'],dayfirst=True)

In [ ]:
df_21_open['Date'] = pd.to_datetime(df_21_open['Date'],dayfirst=True)
df_21_close['Date'] = pd.to_datetime(df_21_close['Date'],dayfirst=True)

In [ ]:
df_22_open['Date'] = pd.to_datetime(df_22_open['Date'],dayfirst=True)
df_22_close['Date'] = pd.to_datetime(df_22_close['Date'],dayfirst=True)

In [37]:
df_20_open

,Position ID,Action,Amount,Units,Open Date,Open Rate,Date
0,846176513.0,Buy Tezos,412.0,205.804486,2020-12-23 12:03:34,2.00,2020-12-23
1,846157005.0,Buy Tezos,500.0,251.521706,2020-12-23 11:26:54,1.99,2020-12-23
2,847982369.0,Buy Tezos,200.0,107.747010,2020-12-24 03:54:22,1.86,2020-12-24
3,840577036.0,Buy Cardano,500.0,2870.264064,2020-12-19 17:12:02,0.17,2020-12-19
4,814175274.0,Buy Cardano,70.0,405.327157,2020-11-30 16:51:37,0.17,2020-11-30
...,...,...,...,...,...,...,...
340,609940706.0,Buy Bitcoin,1060.0,0.118959,2020-04-29 17:44:04,8910.67,2020-04-29
341,610190271.0,Buy Bitcoin,540.0,0.058881,2020-04-30 04:14:49,9171.11,2020-04-30
342,610187469.0,Buy Bitcoin,540.0,0.058647,2020-04-30 04:00:56,9209.41,2020-04-30
343,599996081.0,Buy Bitcoin,100.0,0.014149,2020-04-17 18:42:42,7067.56,2020-04-17
344,NaN,NaN,NaN,NaN,NaT,NaN,NaT

In [40]:
df_et_open = pd.concat([df_20_open,df_21_open,df_22_open])

In [93]:
df_et_close = pd.concat([df_20_close,df_21_close,df_22_close])

In [59]:
#df_et_open.reset_index(inplace=True)
#df_et_open.drop('index',axis=1,inplace=True)

In [94]:
df_et_close.reset_index(inplace=True)
df_et_close.drop('index',axis=1,inplace=True)

In [60]:
df_et_open.columns

Index(['Position ID', 'Action', 'Amount', 'Units', 'Open Date', 'Open Rate',
       'Date'],
      dtype='object')

In [61]:
#df_et_open.dropna()['Position ID']
df_et_open[df_et_open.isna()['Position ID']]
#df_et_open.isna().sum()

     Position ID Action  Amount  Units Open Date  Open Rate Date
344          NaN    NaN     NaN    NaN       NaT        NaN  NaT
811          NaN    NaN     NaN    NaN       NaT        NaN  NaT

In [63]:
#df_et_open.dropna().iloc[[344,811]]
#df_et_open.drop([344,811],axis=0).iloc[[344,811]]
df_et_open.iloc[[344,811]]

     Position ID Action  Amount  Units Open Date  Open Rate Date
344          NaN    NaN     NaN    NaN       NaT        NaN  NaT
811          NaN    NaN     NaN    NaN       NaT        NaN  NaT

In [95]:
columns = df_et_open.columns

In [99]:
columns_close = df_et_close.columns

In [69]:
def find_null_values(column_name):
  print('The number of null values in column {} are:'.format(column_name),len(np.where(df_et_open.isna()[column_name])[0]))
  print('And their integer location is:', np.where(df_et_open.isna()[column_name])[0])

In [70]:
null_values = [find_null_values(y) for y in columns]

The number of null values in column Position ID are: 2
And their integer location is: [344 811]
The number of null values in column Action are: 2
And their integer location is: [344 811]
The number of null values in column Amount are: 2
And their integer location is: [344 811]
The number of null values in column Units are: 2
And their integer location is: [344 811]
The number of null values in column Open Date are: 2
And their integer location is: [344 811]
The number of null values in column Open Rate are: 2
And their integer location is: [344 811]
The number of null values in column Date are: 2
And their integer location is: [344 811]

In [98]:
df_et_close.dtypes

Position ID           float64
Action                 object
Units                 float64
Close Date     datetime64[ns]
Spread                float64
Profit                float64
Close Rate            float64
Date           datetime64[ns]
dtype: object

In [100]:
def find_null_values_close(column_name):
  print('The number of null values in column {} are:'.format(column_name),len(np.where(df_et_close.isna()[column_name])[0]))
  print('And their integer location is:', np.where(df_et_close.isna()[column_name])[0])

In [101]:
null_values_close = [find_null_values_close(y) for y in columns_close]

The number of null values in column Position ID are: 2
And their integer location is: [344 811]
The number of null values in column Action are: 2
And their integer location is: [344 811]
The number of null values in column Units are: 2
And their integer location is: [344 811]
The number of null values in column Close Date are: 2
And their integer location is: [344 811]
The number of null values in column Spread are: 2
And their integer location is: [344 811]
The number of null values in column Profit are: 0
And their integer location is: []
The number of null values in column Close Rate are: 2
And their integer location is: [344 811]
The number of null values in column Date are: 2
And their integer location is: [344 811]

In [102]:
df_et_close.iloc[[344,811]]

     Position ID Action  Units Close Date  Spread    Profit  Close Rate Date
344          NaN    NaN    NaN        NaT     NaN    -73.10         NaN  NaT
811          NaN    NaN    NaN        NaT     NaN  28545.72         NaN  NaT

In [74]:
#df_et_open.drop([344, 811],axis=0,inplace=True)
df_et_open.iloc[[344,809]]

,Position ID,Action,Amount,Units,Open Date,Open Rate,Date
345,1.317468e+09,Buy Polygon,19.43,16.401991,2021-09-20 20:15:55,1.18,2021-09-20
810,1.122776e+09,Buy Cardano,1500.00,1451.238390,2021-04-23 09:21:28,1.03,2021-04-23

In [103]:
#df_et_close.drop([344, 811],axis=0,inplace=True)
df_et_open.iloc[[344,809]]

,Position ID,Action,Amount,Units,Open Date,Open Rate,Date
344,1.317468e+09,Buy Polygon,19.43,16.401991,2021-09-20 20:15:55,1.18,2021-09-20
809,1.122776e+09,Buy Cardano,1500.00,1451.238390,2021-04-23 09:21:28,1.03,2021-04-23

In [77]:
#df_et_open.reset_index(inplace=True)
#df_et_open.drop('index',axis=1,inplace=True)
df_et_open.iloc[[344,809]]

,Position ID,Action,Amount,Units,Open Date,Open Rate,Date
344,1.317468e+09,Buy Polygon,19.43,16.401991,2021-09-20 20:15:55,1.18,2021-09-20
809,1.122776e+09,Buy Cardano,1500.00,1451.238390,2021-04-23 09:21:28,1.03,2021-04-23

In [105]:
#df_et_close.reset_index(inplace=True)
#df_et_close.drop('index',axis=1,inplace=True)
df_et_close.iloc[[344,809]]

,Position ID,Action,Units,Close Date,Spread,Profit,Close Rate,Date
344,1.317468e+09,Buy Polygon,16.401991,2021-12-22 16:18:57,1.25,23.00,2.59,2021-12-22
809,1.122776e+09,Buy Cardano,1451.238390,2022-01-10 15:30:24,46.59,83.16,1.09,2022-01-10

In [ ]:
df_21_close[df_21_close.isna()]

In [107]:
df_et_open

,Position ID,Action,Amount,Units,Open Date,Open Rate,Date
0,8.461765e+08,Buy Tezos,412.00,205.804486,2020-12-23 12:03:34,2.00,2020-12-23
1,8.461570e+08,Buy Tezos,500.00,251.521706,2020-12-23 11:26:54,1.99,2020-12-23
2,8.479824e+08,Buy Tezos,200.00,107.747010,2020-12-24 03:54:22,1.86,2020-12-24
3,8.405770e+08,Buy Cardano,500.00,2870.264064,2020-12-19 17:12:02,0.17,2020-12-19
4,8.141753e+08,Buy Cardano,70.00,405.327157,2020-11-30 16:51:37,0.17,2020-11-30
...,...,...,...,...,...,...,...
805,9.119008e+08,Buy Cardano,85.30,242.467311,2021-01-21 09:46:23,0.35,2021-01-21
806,9.849275e+08,Buy Cardano,25.00,29.705323,2021-02-15 07:44:22,0.84,2021-02-15
807,9.841883e+08,Buy Cardano,107.00,119.526363,2021-02-14 10:09:57,0.90,2021-02-14
808,9.832609e+08,Buy Cardano,649.65,693.257239,2021-02-12 20:46:46,0.94,2021-02-12
809,1.122776e+09,Buy Cardano,1500.00,1451.238390,2021-04-23 09:21:28,1.03,2021-04-23

In [131]:
df_et_close

,Position ID,Action,Units,Close Date,Spread,Profit,Close Rate,Date
0,8.461765e+08,Buy Tezos,205.804486,2020-12-31 15:18:32,4.13,-1.07,2.00,2020-12-31
1,8.461570e+08,Buy Tezos,251.521706,2020-12-31 15:18:24,5.05,2.24,2.00,2020-12-31
2,8.479824e+08,Buy Tezos,107.747010,2020-12-31 15:18:19,2.16,15.13,2.00,2020-12-31
3,8.405770e+08,Buy Cardano,2870.264064,2020-12-29 05:32:19,17.72,-5.74,0.17,2020-12-29
4,8.141753e+08,Buy Cardano,405.327157,2020-12-29 05:32:10,2.50,-0.20,0.17,2020-12-29
...,...,...,...,...,...,...,...,...
805,9.119008e+08,Buy Cardano,242.467311,2022-01-10 15:31:04,7.81,179.93,1.09,2022-01-10
806,9.849275e+08,Buy Cardano,29.705323,2022-01-10 15:30:55,0.96,7.46,1.09,2022-01-10
807,9.841883e+08,Buy Cardano,119.526363,2022-01-10 15:30:49,3.84,23.63,1.09,2022-01-10
808,9.832609e+08,Buy Cardano,693.257239,2022-01-10 15:30:38,22.28,107.32,1.09,2022-01-10
809,1.122776e+09,Buy Cardano,1451.238390,2022-01-10 15:30:24,46.59,83.16,1.09,2022-01-10

In [108]:
df_et_open.to_csv('crypto_et_open.csv',index=False)

In [109]:
df_et_close.to_csv('crypto_et_close.csv',index=False)

In [134]:
df_et_close_eur1 = pd.merge(df_et_close, df_eur_all, on='Date', how='left')

In [135]:
df_et_open_eur1 = pd.merge(df_et_open, df_eur_all, on='Date', how='left')

In [138]:
np.where(df_et_open_eur1.isna())

(array([  3,   3,   3,   3,  22,  22,  22,  22,  26,  26,  26,  26,  31,
         31,  31,  31,  32,  32,  32,  32,  33,  33,  33,  33,  35,  35,
         35,  35,  36,  36,  36,  36,  37,  37,  37,  37,  38,  38,  38,
         38,  45,  45,  45,  45,  48,  48,  48,  48,  52,  52,  52,  52,
         54,  54,  54,  54,  59,  59,  59,  59,  60,  60,  60,  60,  61,
         61,  61,  61,  63,  63,  63,  63,  69,  69,  69,  69,  78,  78,
         78,  78,  80,  80,  80,  80,  88,  88,  88,  88,  95,  95,  95,
         95,  96,  96,  96,  96, 103, 103, 103, 103, 109, 109, 109, 109,
        121, 121, 121, 121, 123, 123, 123, 123, 127, 127, 127, 127, 149,
        149, 149, 149, 150, 150, 150, 150, 156, 156, 156, 156, 158, 158,
        158, 158, 172, 172, 172, 172, 178, 178, 178, 178, 179, 179, 179,
        179, 180, 180, 180, 180, 183, 183, 183, 183, 193, 193, 193, 193,
        196, 196, 196, 196, 200, 200, 200, 200, 203, 203, 203, 203, 209,
        209, 209, 209, 211, 211, 211, 211, 214, 214, 214, 214, 225, 225,
        225, 225, 226, 226, 226, 226, 237, 237, 237, 237, 238, 238, 238,
        238, 240, 240, 240, 240, 241, 241, 241, 241, 244, 244, 244, 244,
        247, 247, 247, 247, 249, 249, 249, 249, 253, 253, 253, 253, 258,
        258, 258, 258, 259, 259, 259, 259, 289, 289, 289, 289, 290, 290,
        290, 290, 295, 295, 295, 295, 298, 298, 298, 298, 300, 300, 300,
        300, 301, 301, 301, 301, 302, 302, 302, 302, 303, 303, 303, 303,
        310, 310, 310, 310, 311, 311, 311, 311, 312, 312, 312, 312, 316,
        316, 316, 316, 317, 317, 317, 317, 318, 318, 318, 318, 319, 319,
        319, 319, 328, 328, 328, 328, 330, 330, 330, 330, 331, 331, 331,
        331, 347, 347, 347, 347, 348, 348, 348, 348, 349, 349, 349, 349,
        365, 365, 365, 365, 370, 370, 370, 370, 388, 388, 388, 388, 390,
        390, 390, 390, 392, 392, 392, 392, 397, 397, 397, 397, 404, 404,
        404, 404, 413, 413, 413, 413, 414, 414, 414, 414, 415, 415, 415,
        415, 419, 419, 419, 419, 433, 433, 433, 433, 435, 435, 435, 435,
        436, 436, 436, 436, 442, 442, 442, 442, 454, 454, 454, 454, 472,
        472, 472, 472, 482, 482, 482, 482, 484, 484, 484, 484, 489, 489,
        489, 489, 490, 490, 490, 490, 491, 491, 491, 491, 503, 503, 503,
        503, 505, 505, 505, 505, 513, 513, 513, 513, 521, 521, 521, 521,
        522, 522, 522, 522, 524, 524, 524, 524, 526, 526, 526, 526, 537,
        537, 537, 537, 551, 551, 551, 551, 554, 554, 554, 554, 555, 555,
        555, 555, 556, 556, 556, 556, 561, 561, 561, 561, 565, 565, 565,
        565, 569, 569, 569, 569, 572, 572, 572, 572, 579, 579, 579, 579,
        583, 583, 583, 583, 591, 591, 591, 591, 592, 592, 592, 592, 594,
        594, 594, 594, 595, 595, 595, 595, 596, 596, 596, 596, 598, 598,
        598, 598, 607, 607, 607, 607, 608, 608, 608, 608, 615, 615, 615,
        615, 619, 619, 619, 619, 623, 623, 623, 623, 633, 633, 633, 633,
        637, 637, 637, 637, 638, 638, 638, 638, 647, 647, 647, 647, 657,
        657, 657, 657, 660, 660, 660, 660, 661, 661, 661, 661, 662, 662,
        662, 662, 663, 663, 663, 663, 667, 667, 667, 667, 669, 669, 669,
        669, 675, 675, 675, 675, 681, 681, 681, 681, 682, 682, 682, 682,
        683, 683, 683, 683, 684, 684, 684, 684, 686, 686, 686, 686, 687,
        687, 687, 687, 698, 698, 698, 698, 720, 720, 720, 720, 721, 721,
        721, 721, 737, 737, 737, 737, 738, 738, 738, 738, 739, 739, 739,
        739, 747, 747, 747, 747, 750, 750, 750, 750, 751, 751, 751, 751,
        761, 761, 761, 761, 762, 762, 762, 762, 765, 765, 765, 765, 766,
        766, 766, 766, 778, 778, 778, 778, 785, 785, 785, 785, 786, 786,
        786, 786, 789, 789, 789, 789, 790, 790, 790, 790, 807, 807, 807,
        807]),
 array([ 7,  8,  9, 10,  7,  8,  9, 10,  7,  8,  9, 10,  7,  8,  9, 10,  7,
         8,  9, 10,  7,  8,  9, 10,  7,  8,  9, 10,  7,  8,  9, 10,  7,  8,
         9, 10,  7,  8,  9, 10,  7,  8,  9, 10,  7,  8,  9, 10,  7,  8,  9,
        10,  7,  8,  9, 10,  7,  8,  9, 10,  7,  8,  9, 10,  7,  8,  9, 10,
         7,  8,  9, 10,  7,  8,  9, 10,  7,  8,  9, 10,  7,  8,  9, 10,  7,
         8,  9, 10,  7,  8,  9, 10,  7,  8,  9, 10,  7,  8,  9, 10,  7,  8,
         9, 10,  7,  8,  9, 10,  7,  8,  9, 10,  7,  8,  9, 10,  7,  8,  9,
        10,  7,  8,  9, 10,  7,  8,  9, 10,  7,  8,  9, 10,  7,  8,  9, 10,
         7,  8,  9, 10,  7,  8,  9, 10,  7,  8,  9, 10,  7,  8,  9, 10,  7,
         8,  9, 10,  7,  8,  9, 10,  7,  8,  9, 10,  7,  8,  9, 10,  7,  8,
         9, 10,  7,  8,  9, 10,  7,  8,  9, 10,  7,  8,  9, 10,  7,  8,  9,
        10,  7,  8,  9, 10,  7,  8,  9, 10,  7,  8,  9, 10,  7,  8,  9, 10,
         7,  8,  9, 10,  7,  8,  9, 10,  7,  8,  9, 10,  7,  8,  9, 10,  7,
         8,  9, 10,  7,  8,  9, 10,  7,  8,  9, 10,  7,  8,  9, 10,  7,  8,
         9, 10,  7,  8,  9, 10,  7,  8,  9, 10,  7,  8,  9, 10,  7,  8,  9,
        10,  7,  8,  9, 10,  7,  8,  9, 10,  7,  8,  9, 10,  7,  8,  9, 10,
         7,  8,  9, 10,  7,  8,  9, 10,  7,  8,  9, 10,  7,  8,  9, 10,  7,
         8,  9, 10,  7,  8,  9, 10,  7,  8,  9, 10,  7,  8,  9, 10,  7,  8,
         9, 10,  7,  8,  9, 10,  7,  8,  9, 10,  7,  8,  9, 10,  7,  8,  9,
        10,  7,  8,  9, 10,  7,  8,  9, 10,  7,  8,  9, 10,  7,  8,  9, 10,
         7,  8,  9, 10,  7,  8,  9, 10,  7,  8,  9, 10,  7,  8,  9, 10,  7,
         8,  9, 10,  7,  8,  9, 10,  7,  8,  9, 10,  7,  8,  9, 10,  7,  8,
         9, 10,  7,  8,  9, 10,  7,  8,  9, 10,  7,  8,  9, 10,  7,  8,  9,
        10,  7,  8,  9, 10,  7,  8,  9, 10,  7,  8,  9, 10,  7,  8,  9, 10,
         7,  8,  9, 10,  7,  8,  9, 10,  7,  8,  9, 10,  7,  8,  9, 10,  7,
         8,  9, 10,  7,  8,  9, 10,  7,  8,  9, 10,  7,  8,  9, 10,  7,  8,
         9, 10,  7,  8,  9, 10,  7,  8,  9, 10,  7,  8,  9, 10,  7,  8,  9,
        10,  7,  8,  9, 10,  7,  8,  9, 10,  7,  8,  9, 10,  7,  8,  9, 10,
         7,  8,  9, 10,  7,  8,  9, 10,  7,  8,  9, 10,  7,  8,  9, 10,  7,
         8,  9, 10,  7,  8,  9, 10,  7,  8,  9, 10,  7,  8,  9, 10,  7,  8,
         9, 10,  7,  8,  9, 10,  7,  8,  9, 10,  7,  8,  9, 10,  7,  8,  9,
        10,  7,  8,  9, 10,  7,  8,  9, 10,  7,  8,  9, 10,  7,  8,  9, 10,
         7,  8,  9, 10,  7,  8,  9, 10,  7,  8,  9, 10,  7,  8,  9, 10,  7,
         8,  9, 10,  7,  8,  9, 10,  7,  8,  9, 10,  7,  8,  9, 10,  7,  8,
         9, 10,  7,  8,  9, 10,  7,  8,  9, 10,  7,  8,  9, 10,  7,  8,  9,
        10,  7,  8,  9, 10,  7,  8,  9, 10,  7,  8,  9, 10,  7,  8,  9, 10,
         7,  8,  9, 10,  7,  8,  9, 10,  7,  8,  9, 10,  7,  8,  9, 10,  7,
         8,  9, 10,  7,  8,  9, 10,  7,  8,  9, 10,  7,  8,  9, 10,  7,  8,
         9, 10,  7,  8,  9, 10,  7,  8,  9, 10,  7,  8,  9, 10,  7,  8,  9,
        10]))

In [120]:
df_et_open_eur1

,Position ID,Action,Amount,Units,Open Date,Open Rate,Date,Open,High,Low,Close
0,8.461765e+08,Buy Tezos,412.00,205.804486,2020-12-23 12:03:34,2.00,2020-12-23,1.218591,1.221941,1.215776,1.218665
1,8.461570e+08,Buy Tezos,500.00,251.521706,2020-12-23 11:26:54,1.99,2020-12-23,1.218591,1.221941,1.215776,1.218665
2,8.475101e+08,Buy EOS,200.00,74.626866,2020-12-23 18:07:11,2.68,2020-12-23,1.218591,1.221941,1.215776,1.218665
3,8.477763e+08,Buy XRP,25.00,87.811732,2020-12-23 20:47:16,0.28,2020-12-23,1.218591,1.221941,1.215776,1.218665
4,8.460545e+08,Buy XRP,1025.00,2871.952928,2020-12-23 08:02:15,0.36,2020-12-23,1.218591,1.221941,1.215776,1.218665
...,...,...,...,...,...,...,...,...,...,...,...
639,1.346794e+09,Buy Cardano,186.79,88.264599,2021-10-13 07:40:21,2.12,2021-10-13,1.153097,1.157901,1.153057,1.153403
640,8.280100e+08,Buy Cardano,0.89,6.129467,2020-12-10 14:20:24,0.15,2020-12-10,1.208167,1.215806,1.208036,1.207875
641,8.499180e+08,Buy Ethereum,235.00,0.318580,2020-12-28 14:15:33,737.65,2020-12-28,1.220703,1.225200,1.218353,1.220510
642,8.852696e+08,Buy Cardano,100.00,337.040782,2021-01-08 19:43:02,0.30,2021-01-08,1.226873,1.228215,1.221493,1.227144
643,8.812256e+08,Buy Cardano,50.00,157.381177,2021-01-08 12:26:07,0.32,2021-01-08,1.226873,1.228215,1.221493,1.227144

In [121]:
df_et_close_eur1['Close Rate_Eur'] = df_et_close_eur1['Close Rate']/df_et_close_eur1['High']

In [122]:
df_et_close_eur1['Amount_close_Eur'] = (df_et_close_eur1['Close Rate_Eur']*df_et_close_eur1['Units']) - (df_et_close_eur1['Spread']/df_et_close_eur1['Low'])

In [123]:
df_et_open_eur1['Amount_Eur'] = df_et_open_eur1['Amount']/df_et_open_eur1['Low']

In [124]:
df_et_open_eur1['Open Rate_Eur'] = df_et_open_eur1['Open Rate']/df_et_open_eur1['Low']

In [125]:
df_et_open_eur1['Units_Eur'] = df_et_open_eur1['Amount_Eur']/df_et_open_eur1['Open Rate_Eur']

In [127]:
df_et_open_eur1[['Units','Units_Eur']]

           Units    Units_Eur
0     205.804486   206.000000
1     251.521706   251.256281
2      74.626866    74.626866
3      87.811732    89.285714
4    2871.952928  2847.222222
..           ...          ...
639    88.264599    88.108491
640     6.129467     5.933333
641     0.318580     0.318579
642   337.040782   333.333333
643   157.381177   156.250000

[644 rows x 2 columns]

In [129]:
df_et_open_eur1[df_et_open_eur1['Action'] == 'Buy Cardano']['Units'].sum()

71555.157443

In [128]:
df_et_open_eur1[df_et_open_eur1['Action'] == 'Buy Cardano']['Units_Eur'].sum()

71694.43190694392

In [130]:
df_et_open_eur1.isna

,Position ID,Action,Amount,Units,Open Date,Open Rate,Date,Open,High,Low,Close,Amount_Eur,Open Rate_Eur,Units_Eur
0,8.461765e+08,Buy Tezos,412.00,205.804486,2020-12-23 12:03:34,2.00,2020-12-23,1.218591,1.221941,1.215776,1.218665,338.878214,1.645040,206.000000
1,8.461570e+08,Buy Tezos,500.00,251.521706,2020-12-23 11:26:54,1.99,2020-12-23,1.218591,1.221941,1.215776,1.218665,411.259969,1.636815,251.256281
2,8.475101e+08,Buy EOS,200.00,74.626866,2020-12-23 18:07:11,2.68,2020-12-23,1.218591,1.221941,1.215776,1.218665,164.503988,2.204353,74.626866
3,8.477763e+08,Buy XRP,25.00,87.811732,2020-12-23 20:47:16,0.28,2020-12-23,1.218591,1.221941,1.215776,1.218665,20.562998,0.230306,89.285714
4,8.460545e+08,Buy XRP,1025.00,2871.952928,2020-12-23 08:02:15,0.36,2020-12-23,1.218591,1.221941,1.215776,1.218665,843.082936,0.296107,2847.222222
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
639,1.346794e+09,Buy Cardano,186.79,88.264599,2021-10-13 07:40:21,2.12,2021-10-13,1.153097,1.157901,1.153057,1.153403,161.995461,1.838591,88.108491
640,8.280100e+08,Buy Cardano,0.89,6.129467,2020-12-10 14:20:24,0.15,2020-12-10,1.208167,1.215806,1.208036,1.207875,0.736733,0.124168,5.933333
641,8.499180e+08,Buy Ethereum,235.00,0.318580,2020-12-28 14:15:33,737.65,2020-12-28,1.220703,1.225200,1.218353,1.220510,192.883343,605.448503,0.318579
642,8.852696e+08,Buy Cardano,100.00,337.040782,2021-01-08 19:43:02,0.30,2021-01-08,1.226873,1.228215,1.221493,1.227144,81.867027,0.245601,333.333333
643,8.812256e+08,Buy Cardano,50.00,157.381177,2021-01-08 12:26:07,0.32,2021-01-08,1.226873,1.228215,1.221493,1.227144,40.933513,0.261974,156.250000

In [132]:
df_et_close_eur1

,Position ID,Action,Units,Close Date,Spread,Profit,Close Rate,Date,Open,High,Low,Close,Close Rate_Eur,Amount_close_Eur
0,8.461765e+08,Buy Tezos,205.804486,2020-12-31 15:18:32,4.13,-1.07,2.00,2020-12-31,1.229906,1.230951,1.222300,1.229990,1.624760,331.004030
1,8.461570e+08,Buy Tezos,251.521706,2020-12-31 15:18:24,5.05,2.24,2.00,2020-12-31,1.229906,1.230951,1.222300,1.229990,1.624760,404.530863
2,8.479824e+08,Buy Tezos,107.747010,2020-12-31 15:18:19,2.16,15.13,2.00,2020-12-31,1.229906,1.230951,1.222300,1.229990,1.624760,173.295876
3,8.405770e+08,Buy Cardano,2870.264064,2020-12-29 05:32:19,17.72,-5.74,0.17,2020-12-29,1.222001,1.227599,1.222001,1.222345,0.138482,382.978249
4,8.141753e+08,Buy Cardano,405.327157,2020-12-29 05:32:10,2.50,-0.20,0.17,2020-12-29,1.222001,1.227599,1.222001,1.222345,0.138482,54.084570
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
569,9.119008e+08,Buy Cardano,242.467311,2022-01-10 15:31:04,7.81,179.93,1.09,2022-01-10,1.135344,1.135976,1.128834,1.135396,0.959527,225.735364
570,9.849275e+08,Buy Cardano,29.705323,2022-01-10 15:30:55,0.96,7.46,1.09,2022-01-10,1.135344,1.135976,1.128834,1.135396,0.959527,27.652634
571,9.841883e+08,Buy Cardano,119.526363,2022-01-10 15:30:49,3.84,23.63,1.09,2022-01-10,1.135344,1.135976,1.128834,1.135396,0.959527,111.287070
572,9.832609e+08,Buy Cardano,693.257239,2022-01-10 15:30:38,22.28,107.32,1.09,2022-01-10,1.135344,1.135976,1.128834,1.135396,0.959527,645.462076
573,1.122776e+09,Buy Cardano,1451.238390,2022-01-10 15:30:24,46.59,83.16,1.09,2022-01-10,1.135344,1.135976,1.128834,1.135396,0.959527,1351.230198

In [ ]:
df_crypto_open = df_C_open[['Position ID', 'Open Date',
                            'Date','Action', 'Units',  
                            'Amount_Eur', 'Open Rate_Eur',
                            'Units_Eur']]

In [ ]:
df_C_open

,Position ID,Action,Amount,Units,Open Date,Open Rate,Date,Open,High,Low,Close,Amount_Eur,Open Rate_Eur,Units_Eur
0,846176513.0,Buy Tezos,412.0,205.804486,23/12/2020 12:03:34,2.00,2020-12-23,1.218591,1.221941,1.215776,1.218665,338.878214,1.645040,206.000000
1,846157005.0,Buy Tezos,500.0,251.521706,23/12/2020 11:26:54,1.99,2020-12-23,1.218591,1.221941,1.215776,1.218665,411.259969,1.636815,251.256281
2,847510147.0,Buy EOS,200.0,74.626866,23/12/2020 18:07:11,2.68,2020-12-23,1.218591,1.221941,1.215776,1.218665,164.503988,2.204353,74.626866
3,847776329.0,Buy XRP,25.0,87.811732,23/12/2020 20:47:16,0.28,2020-12-23,1.218591,1.221941,1.215776,1.218665,20.562998,0.230306,89.285714
4,846054549.0,Buy XRP,1025.0,2871.952928,23/12/2020 08:02:15,0.36,2020-12-23,1.218591,1.221941,1.215776,1.218665,843.082936,0.296107,2847.222222
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
264,601375709.0,Buy Ethereum,25.0,0.144201,20/04/2020 20:49:50,173.37,2020-04-20,1.086626,1.089704,1.084305,1.086697,23.056243,159.890437,0.144200
265,599875563.0,Buy Ethereum,100.0,0.580499,17/04/2020 16:40:29,172.27,2020-04-17,1.086012,1.089325,1.081268,1.085847,92.484010,159.322203,0.580484
266,599295474.0,Buy Bitcoin,100.0,0.014029,17/04/2020 13:09:20,7128.14,2020-04-17,1.086012,1.089325,1.081268,1.085847,92.484010,6592.389676,0.014029
267,599996081.0,Buy Bitcoin,100.0,0.014149,17/04/2020 18:42:42,7067.56,2020-04-17,1.086012,1.089325,1.081268,1.085847,92.484010,6536.362863,0.014149
268,607183477.0,Buy Ethereum,50.0,0.251308,27/04/2020 08:44:40,198.96,2020-04-27,1.082368,1.086036,1.081221,1.082368,46.244015,184.014184,0.251307

In [ ]:
df_crypto_open.dtypes

Position ID             float64
Open Date                object
Date             datetime64[ns]
Action                   object
Units                   float64
Amount_Eur              float64
Open Rate_Eur           float64
Units_Eur               float64
dtype: object

In [ ]:
df_C_close

,Position ID,Action,Units,Close Date,Spread,Profit,Profit (cal.),profit - spread,Close Rate,Date,Open,High,Low,Close,Amount_close_Eur,Close Rate_Eur
0,846176513.0,Buy Tezos,205.804486,31/12/2020 15:18:32,4.13,-1.07,0.000000,-4.130000,2.00,2020-12-31,1.229906,1.230951,1.222300,1.229990,331.004030,1.624760
1,846157005.0,Buy Tezos,251.521706,31/12/2020 15:18:24,5.05,2.24,2.515217,-2.534783,2.00,2020-12-31,1.229906,1.230951,1.222300,1.229990,404.530863,1.624760
2,847982369.0,Buy Tezos,107.747010,31/12/2020 15:18:19,2.16,15.13,15.084581,12.924581,2.00,2020-12-31,1.229906,1.230951,1.222300,1.229990,173.295876,1.624760
3,840577036.0,Buy Cardano,2870.264064,29/12/2020 05:32:19,17.72,-5.74,0.000000,-17.720000,0.17,2020-12-29,1.222001,1.227599,1.222001,1.222345,382.978249,0.138482
4,814175274.0,Buy Cardano,405.327157,29/12/2020 05:32:10,2.50,-0.20,0.000000,-2.500000,0.17,2020-12-29,1.222001,1.227599,1.222001,1.222345,54.084570,0.138482
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
217,609941239.0,Buy Bitcoin,0.112364,01/05/2020 20:57:54,7.37,-31.33,-31.330454,-38.700454,8709.82,2020-05-01,1.094475,1.101625,1.093542,1.094547,881.648237,7906.338364
218,609940706.0,Buy Bitcoin,0.118959,01/05/2020 20:57:04,7.79,-25.13,-25.128899,-32.918899,8699.43,2020-05-01,1.094475,1.101625,1.093542,1.094547,932.284501,7896.906842
219,610190271.0,Buy Bitcoin,0.058881,01/05/2020 20:56:05,3.85,-28.20,-28.199289,-32.049289,8692.19,2020-05-01,1.094475,1.101625,1.093542,1.094547,461.070130,7890.334733
220,610187469.0,Buy Bitcoin,0.058647,01/05/2020 20:55:45,3.83,-30.73,-30.726923,-34.556923,8685.48,2020-05-01,1.094475,1.101625,1.093542,1.094547,458.884862,7884.243731
221,599996081.0,Buy Bitcoin,0.014149,01/05/2020 11:44:24,0.96,27.72,27.724117,26.764117,9027.00,2020-05-01,1.094475,1.101625,1.093542,1.094547,115.062682,8194.258482

In [ ]:
df_C_close.dtypes

Position ID                float64
Action                      object
Units                      float64
Close Date                  object
Spread                     float64
Profit                     float64
Profit (cal.)              float64
profit - spread            float64
Close Rate                 float64
Date                datetime64[ns]
Open                       float64
High                       float64
Low                        float64
Close                      float64
Amount_close_Eur           float64
Close Rate_Eur             float64
dtype: object

In [ ]:
df_C_close.columns

Index(['Position ID', 'Action', 'Units', 'Close Date', 'Spread', 'Profit',
       'Profit (cal.)', 'profit - spread', 'Close Rate', 'Date', 'Open',
       'High', 'Low', 'Close', 'Amount_close_Eur', 'Close Rate_Eur'],
      dtype='object')

In [ ]:
df_crypto_open.columns

Index(['Position ID', 'Open Date', 'Date', 'Action', 'Units', 'Amount_Eur',
       'Open Rate_Eur', 'Units_Eur'],
      dtype='object')

In [ ]:
df_crypto_close = df_C_close[['Position ID', 'Close Date', 'Date', 'Action',
                              'Units', 'Amount_close_Eur', 'Close Rate_Eur',
                              ]]

In [ ]:
df_crypto_close.dtypes

Position ID                float64
Close Date                  object
Date                datetime64[ns]
Action                      object
Units                      float64
Amount_close_Eur           float64
Close Rate_Eur             float64
dtype: object

In [ ]:
df_crypto_close['Close Date'] = pd.to_datetime(df_crypto_close['Close Date'])

<ipython-input-102-e6be4476b574>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_crypto_close['Close Date'] = pd.to_datetime(df_crypto_close['Close Date'])

In [ ]:
df_crypto_open['Open Date'] = pd.to_datetime(df_crypto_open['Open Date'])

<ipython-input-79-6d4d727dcda1>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_crypto_open['Open Date'] = pd.to_datetime(df_crypto_open['Open Date'])

In [ ]:
df_crypto_open.dtypes

Position ID             float64
Open Date        datetime64[ns]
Date             datetime64[ns]
Action                   object
Units                   float64
Amount_Eur              float64
Open Rate_Eur           float64
Units_Eur               float64
dtype: object

In [ ]:
df_crypto_open

,Position ID,Open Date,Date,Action,Units,Amount_Eur,Open Rate_Eur,Units_Eur
0,846176513.0,2020-12-23 12:03:34,2020-12-23,Buy Tezos,205.804486,338.878214,1.645040,206.000000
1,846157005.0,2020-12-23 11:26:54,2020-12-23,Buy Tezos,251.521706,411.259969,1.636815,251.256281
2,847510147.0,2020-12-23 18:07:11,2020-12-23,Buy EOS,74.626866,164.503988,2.204353,74.626866
3,847776329.0,2020-12-23 20:47:16,2020-12-23,Buy XRP,87.811732,20.562998,0.230306,89.285714
4,846054549.0,2020-12-23 08:02:15,2020-12-23,Buy XRP,2871.952928,843.082936,0.296107,2847.222222
...,...,...,...,...,...,...,...,...
264,601375709.0,2020-04-20 20:49:50,2020-04-20,Buy Ethereum,0.144201,23.056243,159.890437,0.144200
265,599875563.0,2020-04-17 16:40:29,2020-04-17,Buy Ethereum,0.580499,92.484010,159.322203,0.580484
266,599295474.0,2020-04-17 13:09:20,2020-04-17,Buy Bitcoin,0.014029,92.484010,6592.389676,0.014029
267,599996081.0,2020-04-17 18:42:42,2020-04-17,Buy Bitcoin,0.014149,92.484010,6536.362863,0.014149
268,607183477.0,2020-04-27 08:44:40,2020-04-27,Buy Ethereum,0.251308,46.244015,184.014184,0.251307

In [ ]:
df_crypto_close

,Position ID,Close Date,Date,Action,Units,Amount_close_Eur,Close Rate_Eur
0,846176513.0,2020-12-31 15:18:32,2020-12-31,Buy Tezos,205.804486,331.004030,1.624760
1,846157005.0,2020-12-31 15:18:24,2020-12-31,Buy Tezos,251.521706,404.530863,1.624760
2,847982369.0,2020-12-31 15:18:19,2020-12-31,Buy Tezos,107.747010,173.295876,1.624760
3,840577036.0,2020-12-29 05:32:19,2020-12-29,Buy Cardano,2870.264064,382.978249,0.138482
4,814175274.0,2020-12-29 05:32:10,2020-12-29,Buy Cardano,405.327157,54.084570,0.138482
...,...,...,...,...,...,...,...
217,609941239.0,2020-01-05 20:57:54,2020-05-01,Buy Bitcoin,0.112364,881.648237,7906.338364
218,609940706.0,2020-01-05 20:57:04,2020-05-01,Buy Bitcoin,0.118959,932.284501,7896.906842
219,610190271.0,2020-01-05 20:56:05,2020-05-01,Buy Bitcoin,0.058881,461.070130,7890.334733
220,610187469.0,2020-01-05 20:55:45,2020-05-01,Buy Bitcoin,0.058647,458.884862,7884.243731
221,599996081.0,2020-01-05 11:44:24,2020-05-01,Buy Bitcoin,0.014149,115.062682,8194.258482

In [ ]:
df_crypto_open.to_csv('Crypto_open_2020_etoro.csv', index=False)

In [ ]:
df_crypto_close.to_csv('Crypto_close_2020_etoro.csv', index=False)

In [ ]:
df_crypto_close['Close Date'].max()

Timestamp('2020-12-31 15:18:32')

In [ ]:
df_crypto_open['Open Date'].max()

Timestamp('2020-12-29 00:47:26')